.downloads {
	width: 100%;
	position: relative;
	text-align: center;
}

.downloads li {
	display: inline;
	width: 100%;
	
}

.beargifs {
	width: 100%;
	position: relative;
	text-align: center;
}

.beargifs li {
	display: inline-block;
	width: 100%;
	
}