.DP {
  background-image: url('../GIMP/DP-Corgi.gif');

    /* Full height */
    min-height: 100%;
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}


