@font-face
{
font-family: AvenirHand;
src: url('AvenirHand.ttf'),
url('AvenirHand.eot'),
url('AvenirHand.woff');

}

.menu li {
  display: inline;
  padding: 20px;
  padding-bottom: 30px;
  width: 100%;  
  background-color: blue;
}

.menu {
  font-family: AvenirHand, Times;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  overflow: auto;
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
}