@font-face
{
font-family: Gorditas-Regular;
src: url('Gorditas-Regular.ttf'),
url('Gorditas-Regular.eot'),
url('Gorditas-Regular');

}

@font-face
{
font-family: Gorditas-Bold;
src: url('Gorditas-Bold.ttf'),
url('Gorditas-Bold.eot'),
url('Gorditas-Bold');

}

* {
	font-family: Gorditas-Regular;
}

.menu #social {
	margin: 0 auto;
	/* padding-right: 60px; */
}

.menu ul {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
}

.menu ul li {
  display: block;
  position: relative;
  float: left;
  text-align: center;
}

.menu-social {
  padding-top: 20px;
}

.menu li {
	padding-left: 20px;
  padding-right: 20px;
  color: white;
  height: 100px;
}

.menu {
  font-family: Gorditas-Bold, Times;
  -webkit-text-stroke: 2px black;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  position: sticky;
  background-color: #9678A9;
  top: 0;
}