@media screen and (min-width: 1400px) {
	.head #title {
		font-size: 12rem;	
	}
}
@media screen and (max-width: 1400px) {
	.head #title {
		font-size: 12vw;
	}
}

	.head {
		background-color: rgba(255,0,255,0.1);
	}
	.head #title {
		font-family: AvenirHand, Times;
	  text-align: center;
	  margin: 0 auto;
	  min-width: 100px;
	  min-height: 200px;
	}

	.head #social {
		margin: 0 auto;
		text-align: center;
		padding-right: 60px;
	}

	.head ul {
		width: 100%;
	}

	.head li {
		display: inline-block;
	}

	.head #twitter{
		zoom: 10%;
		padding: 40px;
	}

	.head #instagram {
		zoom: 8%;
		padding: 40px;
	}

	.head #facebook {
		zoom: 4%;
		padding: 40px;
	}
