@media screen and (min-width: 1400px) {
	.head #title {
		font-size: 12rem;	
	}
}
@media screen and (max-width: 1400px) {
	.head #title {
		font-size: 12vw;
	}
}

.head #big-seat {
	text-align: center;
	margin: 0 auto;
}

.head #title {
	font-family: AvenirHand, Times;
	text-align: center;
	margin: 0 auto;
	min-width: 100px;
	height: auto;
	min-height: 200px;
}

.head #social {
	margin: 0 auto;
	text-align: center;
	padding-right: 60px;
	
}

.head ul {
	width: 100%;
}

.head li {
	display: inline-block;
	padding: 20px;
}
